<head>
    <link rel="stylesheet" type="text/css" href="http://172.18.217.67:8000/css/player.css"/> 
</head>
<body background="{{bg_src}}">
    <div class="pull-right"> 
    {% if user.is_authenticated %}
        欢迎您：{{user}}&nbsp;&nbsp;         
        <a class="btn danger small" href="{% url "musicrec.views.logout_view" %}">注销</a>       
    </div>
    {% else %}         
    <form action="{% url "musicrec.views.login_view" %}" method='post' class="pull-right">         
        {% csrf_token %}           
        <input name='username' class="input-small" type="text" placeholder="用户名">           
        <input name='password' class="input-small" type="password" placeholder="密码">           
        <button class="btn" type="submit">登录</button>
    </form>
    {% endif %}    


    <form action="/" method="post">
        {% if rating_list %}
        <ul>
            {% for rating in rating_list %}
            <input type="radio" value="{{ rating }}" name="choice" id="rating{{rating}}"></input>
            <label for="choice{{ forloop.counter }}">{{rating}}</label><br />
            {% endfor %}
            <input type="submit" value="Vote">
        </form>
    </ul>
    <h4>id: {{id}}</h4>
    <h3>title: {{title}}</h3>
    <h3>singer: {{singer}}</h3>
<!--    <h3>RBMCF:</h3>
    <h3>user {{userid}} may rate music {{id}} for rating: {{pred}}</h3>
    <h3>AHRBMCF:</h3>
    <h3>user {{userid}} may rate music {{id}} for rating: {{ah_pred}}</h3>
    -->
    <audio src="{{url}}" controls="controls" autoplay="autoplay"></audio>
    {% autoescape off %}
    {% for rec_id in rec_list %}
    <h3> {{rec_id}} </h3>       
    {% endfor %}
    {% endautoescape %}
    {% else %}
    <p>you have rated this movie. </p>
    {% endif %}
</body>
